/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */     /* standaard marge 0 */
  height:100%
  padding: 0;
  background-image: url("https://wallpapercrafter.com/sizes/1366x768/125104-Porsche-Porsche-911-Carrera-car-vehicle-Forza-Horizon-4-video-games-Porsche-992-Porsche-911-closeup.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  
  /* achtergrondkleur lichtgrijs */
  color: #303030;  
  /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */
}
.belangrijk {
  font-size: 70px;
  font-weight: bold;
  font-family: sans-serif;
  color: beige;
}

}
.page {
  width: 80%;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1 {                      /* geldt voor h1 */
  margin: 30px 30px;
  text-align: center;             /* tekst centreren */
} 
p {
  margin: 10px 0px;
  text-align: center;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */
.pagePicker {
  border:solid 2px green;
  width: 100%;
}
.blokTekst {
  width:50%;
  height: 300px;
  float:left;
  text-align: center;
  border:solid 2px red;
  flex-basis: 50%;
  margin-top: 10%;
}
.TekstTitel {
  color: white;
  font-family: sans-serif;
}
}
.blokIconen {
  width:40%;
  float:left;
  border:solid 2px grey;
}
.icon {
  width: 250px;
  height: 300px;
  display: inline-block ;
  border-radius: 10px ;
  padding:10px 25px ;
  box-sizing:border-box ;
  cursor: pointer;
  margin:10px 15px ;
  background-position: center;
  background-size: cover; 
}
.icon1 {
background-image: url("https://www.stuttcars.com/wp-content/uploads/2021/12/Porsche-911-Turbo-S-Coupe-992-17-scaled.jpg");
}
.icon2 {
background-image: url("https://wallpapercave.com/dwp2x/wp2144799.jpg");
}
.icon3 {
background-image: url("https://www.hdcarwallpapers.com/download/porsche_cayenne_turbo_gt_2022_4k-3840x2160.jpg");
  }
.icon4 {
 background-image: url("https://www.topgear.com/sites/default/files/cars-car/carousel/2020/09/pcgb20_1007_fine_0.jpg");
}

.icon img { /*img in .icon */
  width:100%;
  }
.Titel {
  font-family: sans-serif;
  font-size: 80px;
  color: white;
  height: 70px;
  text-align: center;
}
.tesktKlein {
  font-size:1em;
  color:grey;
}
/* Indeling voor 911 pagina */
.passie {
  color:#ffffff;
  font-size: 18px;
  font-family: serif-sans;
}
.inleiding {
  color: #ffffff;
  font-size: 18px;
  font-
}

.inleiding {
  border: 2px #303030;
  padding-top:20px;
  
.overMij {
  border: 2px blue
}  
  
  (kolom inleiding)
}
.kolomLinks {
  width:50%;
  float:left;
}
.kolomRechts {
  width:50%;
  float:right
  height: 70px;
}
/* Indeling voor 718 pagina */
.intro {
  width: 100%;
  height: 100px;
  border: solid 2px red;
  margin-top: 20px;
}
.titel718 {
  font-size: 35px;
  font-weight: 900;
  font-family: sans-serif;
  color: beige;

}
.tekstpagina {
  color:#ffffff;
}
.introtekst {
  color:beige;
  font-size: 15px;
  float: center;
  font-weight: bold;
  text-align: left;
}
.allinea1 {
  width: 55%;
  height: 130px;
  border: solid 2px red;
  margin-top: 15px;
  margin-right: 10px;
  float: left;
  flex-basis: 45%;
  
}
.fotorechts1{
  border-radius: 30px;
  width: 39%;
  height 95px;
  border: solid 2px red;
  float: right;
  margin-top: 15px;
  flex-basis: 45%; 
}
.allinea2 {
  width: 55%;
  height: 250px;
  border: solid 2px red;
  float: left;
  margin-top: 10px;
  flex-basis: 45%;
}
.allinea3 {
  width: 55%;
  height: 200px;
  border: solid 2px red;
  float: left;
  flex-basis: 45%;
}
.allinea4 {
  width: 55%;
  height:250px;
  border: solid 2px red;
  float: right;
  margin-top: 15px;
  flex-basis: 45%;
}
.fotolinks1{
  border-radius: 30px;
  width: 39%;
  height 95px;
  border: solid 2px red;
  float: left;
  margin-top: 15px;
  flex-basis: 45%; 
}
.allinea5 {
  width: 55%;
  height:200px;
  border: solid 2px red;
  float: right;
  margin-top: 5px;
  flex-basis: 45%;
}


  
  
  
}

/* Opmaak voor alle pagina's */

h1, h2, {
      color: #525252;

}
.smalltext {
    text-align: center;
    font-size: 0.7em;
}
a:hover {
    text-decoration: ;
}
/* Navigatiebalk voor alle pagina's */ 
.Navigation {
  float: left;
}
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 5px;
    background-color: #a8a4a4;
    overflow: hidden;
  border-radius: 8px;
   
}

nav ul li {
    float: left;
  width
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav li a:hover {
  margin-right: 5px
  margin-left: 5px;
  background-color: beige;
  border-radius: 7px;
  overflow: hidden;
  padding: 10px;
  witdh: 100px;
  height: 40px
  text-align: center;
}
nav li a.active {
  background-color: beige;
  border-radius: 8px;
  padding: 10px;
  witdh: 100%;
  height: 40px;
  text-align: center;
 
  
}
